*{
    padding: 0px;
    margin: 0px;
}

body{
    background-size:cover;  
    background-image: url("manyu-varma-mM6cUV3B9M8-unsplash.jpg");
}

header{
    background-color: rgba(0,0,0,0.7);
    height: 7em;
}
#logo{
    max-width: 90px;
    margin-left: 3%;
    margin-top: 20px;
}



.head-tag{
    float:right;
    margin-top: 25px;
    margin-right: 50px;
    
    }

.anchor{
    float: right;
    margin-top: 25px;
}

.head-tag a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
    margin-top: 0%;
    
    
}
.head-tag a:hover{
    background-color:white;
    color: black;
    transition: 0.2s ease-in-out;
} 

.head-tag h3{
    margin-top: 1px;
    margin-right: 17em;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}

    


.abc{
    margin-left: 100px;
    margin-top: 100px;
    /* border: 2px solid white; */
    width: 500px;
    padding: 25px;
    background-color: rgba(0,0,0,0.3);

}





.abc h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.abc p{
    line-height: 1.25em;
    text-align:justify;
    font-size: 23px;
    color: white;
    font-weight: 400;
}
.abc a{
    text-decoration: none;
    color: greenyellow;
    font-size: 20px;
    font-weight: 700;
}



/* footer settt*/
footer{
    background-color: black;
    color: white;
    height: 2em;
    margin-top: 148px;
    
}
footer h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}


